<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ShipRoute.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerRegistration.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="VSAChangepassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="VesselRegistration.aspx" protection="All" timeout="30">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ABAcreate" value="new billed address added" />
    <add key="ADAcreate" value="new billed address added" />
    <add key="CRimonotvalid" value="IMO shipid entered is not valid according to IMO Standards" />
    <add key="CRselectone" value="Please Select atleast one Customer type" />
    <add key="CRcustRegistration" value="Customer Registration Done Successfully" />
    <add key="CRduplicateCustomer" value="Customer ID already exists please choose a different ID" />
    <add key="CRpasswordconfrim" value="Password sent to Registered Email Id Successfully" />
    <add key="CRpasswordconfrim" value="Password sent to Registered Email Id Successfully" />
    <add key="DFnorecord" value="There is Records to Display" />
    <add key="LGinvaliedlogin" value="Email Id or User Name entered is invalid" />
    <add key="LGpasswordconfrim" value="Password sent to Registered Email Id Successfully" />
    <add key="PRportRegistration" value="Port Registration is Done Successfully" />
    <add key="PRduplicatePortid" value="Port ID already exists please choose a different ID" />
    <add key="RAapproved" value="Operator approved" />
    <add key="RAapprovedandagreed" value="Operator approved And Agreed for his Voyage" />
    <add key="RAagreed" value="Agreed" />
    <add key="RAnotagreed" value="Customer Not Agreed" />
    <add key="VAselectvesselandvoyage" value="Please Select Vessel id and Voyage id" />
    <add key="VAcannotdischarge" value="Can not discharge more than Applied" />
    <add key="VAcannotloadmrfreespc" value="Can not load more than Available Free Space" />
    <add key="VAagreefrfee" value="Need to Agree for arrangement fee in order to apply" />
    <add key="VAmaxnopartic" value="Limit for maximum number of participants reached" />
    <add key="VRimoinvalid" value="IMO shipid entered is not valid according to IMO Standards" />
    <add key="VRselectonetype" value="Please Select atleast one container type" />
    <add key="VRvesselregistration" value="Vessel Registration is Done Successfully" />
    <add key="VRopttonnagegroslimit" value="Operating Tonnage Limit can not be greater than Gross Tonnage Limit" />
    <add key="VRduplicateVesselid" value="Vessel ID already exists please choose a different ID" />
    <add key="VVgrostonnageoptlimit" value="Voyage gross tonnage can not be greater than vessel Operating tonnage" />
    <add key="VVloarcapacity" value="Load at the origin can not be greater than vessel capacity" />
    <add key="VVOrignDestination" value="Origin Port and Destination Port Should not Be same" />
    <add key="VVvoyageDetails" value="Vessel Voyage Details Created Successfully" />
    <add key="VVvoyagegrostonnageopt" value="Voyage gross tonnage can not be greater than vessel Operating tonnage" />
    <add key="VVduplicateVoyageid" value="Voyage ID already exists please choose a different ID" />
    <add key="VVvoyageTransit" value="Vessel Voyage Transit Ship Route created" />
    <add key="VVoridestportsnotsame" value="Origin and Destination Ports Cannot be the same" />
    <add key="VVstartDateArrivalDate" value="Expected Start Date time should be Less than Expected Arrival Date time" />
    <add key="VVarrivalDateStartDate" value="Expected Start Date time should be greater than previous Expected Arrival Date time" />
    <add key="VVtransits" value="Transits are completed" />
    <add key="VVtransitUpdated" value="Vessel Voyage Transit Ship Route Updated" />
    <add key="VVarrivalLessStart" value="Expected Arrival Date time should be less than Start Date time of next port" />
    <add key="VVpreviousArrivalDate" value="Expected Start Date time should be greater than previous Expected Arrival Date time" />
    <add key="MCselectonecusttype" value="Please Select atleast one Customer type" />
    <add key="MCdetailsupdated" value="Customer Details Updated Successfully" />
    <add key="MVselectvessel" value="Please Select Vessel Name to Edit" />
    <add key="MVupdateVessel" value="Vessel Details Updated Successfully" />
    <add key="AFcreated" value="Arrangement Fee Structure created for month" />
    <add key="INinviteupdated" value="invite updated" />
    <add key="INoriginteus" value="Origin TEUs on ship for a Voyage Sequence Number Should be the same as Previous Voyage Sequence Number Total TEUs" />
    <add key="INinvite" value="An Invite has been created for the Voyage" />
    <add key="INdischargenotgreater" value="TEUS Dicharged can not be greater than TEUS on ship" />
    <add key="INteusloadednotgreater" value="TEUS loaded can not be greater than available free space" />
    <add key="VAapply" value="Application has been Submitted Successfully for the Voyage Route" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <!--<add name="VesselAgreement" connectionString="data source=UNNATI-PC\SQLEXPRESS;initial catalog=VesselSharingAgreement1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="VesselAgreement" connectionString="data source=DESKTOP-P6MJ6MV;initial catalog=VesselSharingAgreement1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>